<div class="body">
  <div class="title">
    Поиск по Google книгам
  </div>
  <div class="search">
    <app-search [defaultValue]='searchText' (inputEvent)="searchBooks($event)"></app-search>
    <mat-slide-toggle (change)="changeResult($event)" [checked]="showSearchResult | async">{{(showSearchResult | async) ? 'Результаты поиска' : 'Избранное'}}</mat-slide-toggle>  
  </div>
  <app-list [books]='books' 
            (loadBooks)='searchBooks()'
            (changeFavorite)='toggleBook()'>
  </app-list>
</div>
